.Tasks {
    --red : #e94040;
    --green : #56cf31;
}

.Tasks > .title {
    background-color: var(--green);
}

.Tasks > .container {
    padding: 1em;
}

.Tasks > .container > .task {
    margin: 1em
}
.Tasks > .container > .task > input[type=text] {
    padding: .3em;
    width: clamp(10em,35em,80%);
    font-size: medium;
    outline: none;
    border: 2px solid #000;
}

.Tasks .marker-saved {
    color: var(--green);
    font-weight: 700;
}

.Tasks .marker-unsaved {
    color: var(--red);
    font-weight: 700;
}

.Tasks > .container > .task > input[type=text].saved-task{
    border: 2px solid var(--green);
}

.Tasks > .container > .task > input[type=text].unsaved-task {
    border: 2px solid var(--red)!important;
}