.App {
  text-align: center;
}

hr {
  margin: 0;
}

section.counters {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
}

section.tasks {
  margin-top: .5em;
}
