.App {
  text-align: center;
}

hr {
  margin: 0;
}

section._counters {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
}

section._tasks {
  margin-top: .5em;
}
